:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 6px; /* Chiều rộng của scrollbar */
  height: 4px; /* Chiều cao của scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của track scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #d1e7ff; /* Màu của thumb scrollbar */
  border-radius: 20px; /* Độ cong của thumb scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #1d497a; /* Màu của thumb scrollbar khi hover */
}

/* Áp dụng cho tất cả các scrollbars */
